TOKEN="TOKEN"
USER="@USER"

DB="dependencies/internal/users_checkin.db"
CODELAB_NAME_LIST ="dependencies/internal/name_list.json"

GIT_TOKEN = "TOKEN DO GIT"
GIT_LINK_ISSUES = 'https://github.com/USPCodeLabSanca/bot-telegram-codelab/issues'
GIT_API_ISSUE_ENDPOINT = "https://api.github.com/repos/USPCodeLabSanca/bot-telegram-codelab/issues"
SUGGESTION_EXAMPLES = "src/dependencies/internal/suggestion_examples.json"

TARGET_CHAT_ID="TARGET_CHAT_ID"