TOKEN="TOKEN"
USER="@USER"
TARGET_CHAT_ID="TARGET_CHAT_ID"
GIT_TOKEN = "TOKEN DO GIT"

DB="dependencies/internal/users_checkin.db"
CODELAB_NAME_LIST ="dependencies/internal/name_list.json"

GIT_LINK_ISSUES = 'https://github.com/USPCodeLabSanca/bot-telegram-codelab/issues'
GIT_API_INVITE_ENDPOINT = "https://api.github.com/orgs/USPCodeLabSanca/invitations"
GIT_API_ISSUE_ENDPOINT = "https://api.github.com/repos/USPCodeLabSanca/bot-telegram-codelab/issues"
SUGGESTION_EXAMPLES = "src/dependencies/internal/suggestion_examples.json"
